<h3>Login</h3>

<div class="container">
    <div class="row">
        <div class="col text-center">
            <input type="text">
            <input type="text">
            <button (click)="login()"></button>
        </div>
    </div>
</div>

